%container {
	margin: 0 auto;
	width: 100%;
	padding: 0 ( $gutter_width / 2 );
	max-width: 960px + $gutter_width;
}

%row {
	margin: 0 ( $gutter_width / 2 * -1 );
	@include clearfix;
}

%col {
	float: left;
	padding: 0 ( $gutter_width / 2 );
	min-height: 1px;
}

// generate desktop column classes (16)
@for $i from 16 through 1 {
    %col-#{$i}-desktop {
    	@extend %col;
        width: calc( 100% * #{$i} / 16 );
    }
}

@media ( max-width: $mobile_max ) {
	// generate mobile column classes (16)
	@for $i from 16 through 1 {
	    %col-#{$i}-mobile {
	        width: calc( 100% * #{$i} / 16 );
	    }
	}
}