@import '_reset';
@import '_variables';
@import '_mixins';
@import '_typography';
@import '_grid.placeholders';
@import '_grid';

* {
	box-sizing: border-box;
}

body {
	background-color: rgb( 244, 244, 238 );
}

main {
	min-height: 100px;
	padding-top: $gutter_width;
	background: linear-gradient( to bottom, rgb( 229, 228, 220 ) 0%, rgb( 244, 244, 238 ) 100px );
}