@import '../../../sass/_component';

.business-overview {
	@include row;

	&__sidebar {
		@include col( 2 );

		@media ( max-width: $mobile_max ) {
			@include col( $width: 12, $extend: false );
			margin-bottom: $gutter_width;
		}
	}

	&__content {
		@include col( 10 );

		@media ( max-width: $mobile_max ) {
			@include col( $width: 12, $extend: false );
		}
	}
}



.program-btn {
	display: block;
	width: 76px;
	height: 68px;
	border-radius: 4px;
	cursor: pointer;
	background: linear-gradient( to bottom, #bcd89e 0%,
		#9ac084 100% );
	box-shadow: inset 0 1px 0 #dfffc2, 0 2px 2px rgba( 0, 0, 0, .1 );
	border: 1px solid #7e9e6c;
	position: relative;
	transition: all .25s ease;
	margin-bottom: 10px;

	&:before,
	&:after {
		content: '';
		@include center_vertical;
		left: 0;
		right: 0;
		margin: 0 auto;
		background-color: white;
	}

	&:before {
		width: 28px;
		height: 8px;
	}

	&:after {
		width: 8px;
		height: 28px;
	}

	&:hover {
		box-shadow: inset 0 1px 0 #dfffc2, 0 3px 8px rgba( 0, 0, 0, .25 );
	}
}

.program-btn-label {
	font-size: 1.1rem;
	opacity: .8;
}

.program-grid {
	@include row();
	margin-bottom: $gutter_width;

	&__col {
		@include col( 4 );

		@media ( max-width: $mobile_max ) {
			@include col( $width: 12, $extend: false );
		}
	}
}

.program-table {
	&__headings {
		@include row;
		margin-bottom: $gutter_width;

		&:after {
			content: '';
			display: block;
			border-bottom: 1px solid #b4b4aa;
			margin: 0 ( $gutter_width /  2 );
			padding-top: 5px;
		}

		.program-table__col {
			font-size: 1rem;
			color: #919188;
		}
	}

	&__row {
		@include row;
		margin-bottom: $gutter_width;
	}

	&__col {
		@include col( 2 );
		font-size: 1.2rem;

		@media ( max-width: 960px ) {
			@include col( 4, $extend: false );
		}
	}

	&__title {
		&--large {
			font-size: 1.2rem;
		}
	}

	&__cell {
		font-size: 1.2rem;
		font-weight: bold;
		color: $main_font_color;

		small {
			font-size: .9rem;
		}
	}

	&__collapse-toggle {
		display: block;
		font-weight: 100;
		margin-top: 2px;
	}
}