@import '../../../sass/_component';

.primary-nav {
	@include clearfix;
	padding-top: 30px;
	position: relative;
	z-index: 2;
	margin-bottom: 1px;

	&__menu {
		float: right;
		@include clearfix;

		&__item {
			display: inline;

			&:first-of-type {
				.primary-nav__link {
					border-left: 1px solid rgb( 220, 220, 220 );
				}
			}

			&:last-of-type {
				.primary-nav__link {
					&:after {
						display: none !important;
					}
				}
			}
		}
	}

	&__link {
		float: left;
		height: 40px;
		line-height: 40px;
		background-color: white;
		padding: 0 20px;
		position: relative;
		color: #709582;
		text-decoration: none;
		position: relative;
		border-top: 1px solid rgb( 220, 220, 220 );
		border-bottom: 1px solid rgb( 220, 220, 220 );
		background: linear-gradient( to bottom, rgba( 255, 255, 255, 1 ) 0%,
			rgba( 237, 237, 237, 1 ) 125% );

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 1px;
			opacity: .15;
			background: linear-gradient( to bottom, rgba(0,0,0,0) 5%,
				rgba( 0, 0, 0, 1 ) 35%, rgba( 0, 0, 0, 1 ) 65%, rgba( 0, 0, 0, 0 ) 95% );
		}

		&--active {
			background: white;
			margin-top: -3px;
			margin-left: -1px;
			height: 43px;
			line-height: 43px;
			color: rgb( 60, 60, 60 );
			//box-shadow: 0 2px 4px rgba( 0, 0, 0, .5 );
			z-index: 9;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border: 1px solid rgba( 0, 0, 0, .15 );
			border-bottom: 0;

			&:after {
				display: none;
			}
		}

		&:hover,
		&:active {
			background: white;
			color: black;
		}
	}
}