@import '../../../sass/_component';

.program {
	border-radius: 4px;
	padding: $gutter_width $gutter_width 0 $gutter_width;
	background-color: white;
	border: 1px solid #e6e6dd;
	margin-bottom: $gutter_width;
	box-shadow: 0 2px 3px -1px rgba( 0, 0, 0, .1 );

	&__title {
		font-size: 1.6rem;
		margin-bottom: $gutter_width;
		line-height: 21px;
	}

	&__edit-btn {
		float: right;
		width: 23px;
		height: 21px;
		background-repeat: no-repeat;
		border: 1px solid #f1f1ee;
		border-radius: 2px;
		background-position: 0 2px;
		cursor: pointer;

		&:hover,
		&:active {
			background-position: 0 -15px;
		}
	}

	&__graph-title {
		font-size: 1.2rem;
		color: #b4b4aa;
		margin-bottom: $gutter_width / 3;
	}

	&__graph {
		display: block;
		max-width: 100%;
		margin-bottom: $gutter_width / 2;
	}

	&__totals {
		margin: 0 ( $gutter_width * -1 );
		padding: ( $gutter_width / 2 ) $gutter_width;
		background-color: #fbfbf6;
		border-top: 1px solid #f5f5eb;
		border-bottom: 1px solid #f5f5eb;
		font-size: 1.2rem;
		color: #b4b4aa;

		&__row {
			@include row();
			margin: 0 -2px;

			@media ( max-width: 960px ) and ( min-width: $mobile_max ) {
				margin: 0 ( $gutter_width / 2 * -1 );
			}
		}

		&__col {
			padding: 0 2px;

			@media ( max-width: 960px ) and ( min-width: $mobile_max ) {
				@include col( 12, $extend: false );
				margin-bottom: 10px;
			}
		}

		&__title {
			font-size: .9rem;
			color: #b4b4aa;
			margin-bottom: 4px;

			&--centered {
				text-align: center;

				@media ( max-width: 960px ) and ( min-width: $mobile_max ) {
					text-align: initial;
				}
			}
		}

		&__cell {
			&--dark {
				color: #6b6b65;
			}
		}

		&__graph {
			display: block;
			max-width: 100%;
		}
	}

	&__pricing-options {
		font-size: 1.0rem;
		color: #b4b4aa;
		padding-top: ( $gutter_width / 2 );

		&__row {
			@include row();
			margin: 0 -2px;

			@media ( max-width: 960px ) and ( min-width: $mobile_max ) {
				margin: 0 ( $gutter_width / 2 * -1 );
			}
		}

		&__col {
			padding: 0 2px;
			margin-bottom: 4px;

			@media ( max-width: 960px ) and ( min-width: $mobile_max ) {
				@include col( 12, $extend: false );
				margin-bottom: 10px;
			}
		}

		&__title {
			font-size: .9rem;
			color: #b4b4aa;
			margin-bottom: 4px;

			&--centered {
				text-align: center;

				@media ( max-width: 960px ) and ( min-width: $mobile_max ) {
					text-align: initial;
				}
			}
		}

		&__cell {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			&--dark {
				color: #6b6b65;
			}
		}

		&__graph {
			display: block;
			max-width: 100%;
		}
	}

	&__collapse {
		max-height: 0;
		transition: all .25s ease;
		opacity: 0;
	}

	&__collapse-toggle {
		position: relative;
		display: block;
		font-size: 1.2rem;
		color: #b4b4aa;
		padding: ( $gutter_width / 3 ) 0 ;	
		cursor: pointer;
		transition: all .25s ease;

		&:hover,
		&:active {
			color: #6b6b65;
		}
	}

	&--expanded {
		.program__collapse {
			max-height: 240px;
			opacity: 1;
		}
	}


}