@import '../../../sass/_component';

.program {
	float: left;
	width: 240px;
	height: 320px;
	border-radius: 4px;
	padding: 24px;
	margin-right: 24px;
	background-color: white;
	border: 1px solid lightgrey;
	box-shadow: 0 2px 4px rgba( 0, 0, 0, .25 );

	&__title {
		font-size: 1.8rem;
	}
}